.contact-section {
  min-height: 100vh;
  background: black;
  padding: 80px;
}
.contact-header{
  text-align: center;
}
.contact-label {
  display: inline-block;
  font-size: 15px;
  color: #2563eb;
  text-align: center; 
  border: 0px solid #2563eb;
  background-color: #2d2d2e;
  border-radius: 20px;
  font-weight:100;
  padding: 4px 20px;
}
.contact-title{
  font-size: 40px;
  font-weight: bolder;
  color: white;
}
