/* Navbar  */

/* Base navbar styles */
.custom-navbar {
  height: 50px;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  z-index: 999;
}

.custom-navbar.transparent {
  background-color: transparent !important;
}

.custom-navbar.scrolled {
  background-color: rgba(0, 0, 0, 0.85) !important;
}

.nav-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

/* Hamburger menu icon */
.menu-icon {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.menu-icon .bar {
  width: 25px;
  height: 3px;
  background-color: white;
  transition: all 0.3s ease;
}

.menu-icon .bar.open:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.menu-icon .bar.open:nth-child(2) {
  opacity: 0;
}
.menu-icon .bar.open:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* Menu items */
.navbar-nav {
  list-style: none;
  display: flex;
  gap: 20px;
  /* background-color: rgba(255, 255, 255, 0.05); */
  /* border: 1px solid rgba(200, 200, 200, 0.3); */
  /* border-radius: 12px; */
  padding: 10px 20px;
  margin: 0 auto;
}

/* Active link */
.navbar .nav-link {
  font-size: 1.1rem;
  color: #ccc;
  padding: 8px 16px;
  transition: color 0.3s, background-color 0.3s;
  border-radius: 8px;
}

.navbar .nav-link:hover {
  color: white;
}

.active-link {
  color: black !important;
  background-color: white !important;
  font-weight: bold;
  height: 100%;
}

.navbar .btn-link {
  text-decoration: none;
  border: none;
  background: none;
  padding: 0;
}

