/* Navbar Base */
.custom-navbar {
  height: 60px;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  z-index: 999;
}

/* Transparent vs Scrolled */
.custom-navbar.transparent {
  background-color: transparent !important;
}

.custom-navbar.scrolled {
  background-color: #1A1A1B !important; /* Dark background when scrolled */
}

/* Navbar container */
.nav-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

/* Hamburger menu */
.menu-icon .bar {
  width: 25px;
  height: 3px;
  background-color: #94F3E4; /* light cyan bars for contrast */
}

/* Menu items */
.navbar-nav {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 10px 20px;
  margin: 0 auto;
}

/* Links */
.navbar .nav-link {
  font-size: 1rem;
  color: #ccc; /* light grey for default text */
  padding: 8px 16px;
  transition: color 0.3s, background-color 0.3s;
  border-radius: 8px;
}

.navbar .nav-link:hover {
  color: #94F3E4; /* hover highlight */
}

.active-link {
  color: #1A1A1B !important; /* dark text on active */
  background-color: #37AA9C !important; /* primary green highlight */
  font-weight: bold;
  height: 100%;
}

.navbar .btn-link {
  text-decoration: none;
  border: none;
  background: none;
  padding: 0;
}
@media (max-width: 767px) {
  .custom-navbar{
    display: none !important;
  }
}